.groups-container {
    display: flex;
    justify-content: space-between;
  }
  
  .user-groups, .other-groups {
    width: 45%; /* Adjust width to give space between columns */
  }
  
  .group-item {
    margin-bottom: 10px;
  }
  
  button {
    margin-right: 10px;
  }
  
  .create-group-btn {
    margin-top: 20px;
  }
  
  .profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%; /* Make the picture circular */
    object-fit: cover; /* Ensure the image scales and fits properly */
    border: 2px solid #ddd;
  }
  
  .change-pfp-btn {
    margin-top: 10px;
  }
  
  
  