.groups-container {
    display: flex;
    justify-content: space-between;
  }
  
  .user-groups, .other-groups {
    width: 45%; /* Adjust width to give space between columns */
  }
  
  .group-item {
    margin-bottom: 10px;
  }
  
  button {
    margin-right: 10px;
  }
  
  .create-group-btn {
    margin-top: 20px;
  }
  