<div class="groups-container">
    <h1>Groups</h1>
    <div class="group-list" *ngFor="let group of groups">
        <div class="group-item">
            <span (click)="onClickGroup(group)" style="cursor: pointer;">{{ group.name }}</span>
            <button class="member-btn" (click)="onClickMember(group)" aria-label="View Members">
                <i class="fas fa-user"></i>
            </button>
        </div>
    </div>
    <button class="create-new-group-btn" (click)="createNewGroup()">Create New Group</button>
</div>
