<div class="channels-container">
    <h1>Channels</h1>
    <div class="channel-list">
        <div class="channel-item" *ngFor="let channel of channels">
            <button class="channel-btn" (click)="onChannelClick(channel)">{{ channel }}</button>

            <!-- Show "Delete Channel" button only if the logged-in user is a group admin -->
            <button *ngIf="isGroupAdmin" class="delete-channel-btn" (click)="onDeleteChannel(channel)">Delete</button>
        </div>
    </div>

    <!-- Show "Create New Channel" button only if the logged-in user is a group admin -->
    <button *ngIf="isGroupAdmin" class="create-new-channel-btn" (click)="onClickCreateNewChannel()">Create New Channel</button>

    <button class="back-btn" (click)="onBackToGroups()">Back to Groups</button>
</div>
