<div class="ban-list-container">
    <h2>Banned Users</h2>
  
    <div class="no-banned-users" *ngIf="bannedUsers.length === 0">
      <p>No banned users.</p>
    </div>
  
    <ul class="banned-users-list" *ngIf="bannedUsers.length > 0">
      <li *ngFor="let user of bannedUsers" class="banned-user-item">
        <span class="user-info"><strong>{{ user.username }}</strong> - {{ user.report }}</span>
        <button class="unban-btn" (click)="unbanUser(user.username)">Unban</button>
      </li>
    </ul>
  </div>
  